In [4]:
%pip install openpyxl

In [1]:
import pandas as pd

In [5]:
df=pd.read_excel('test_data (1).xlsx')

In [6]:
df.head()

,ID,HAone,HAtwo,HS,HL,HD,HUO,HUC,AC-1 Current,AC-2 Current,...,DR,Raw Voltage,Earthing,UPS,Battery Voltage,Date Time,Average Temperature,ups_phase_to_earth_voltage,UPS Charging,UPS Discharging
0,418721802,1119.62,1360.7,1270.03,1135.69,163.74,77.71,1228.41,0.0,0.0,...,0,247,247,238,38,2024-08-15 23:59:01,24,239,39.58,60.42
1,418721238,1119.62,1360.7,1270.02,1135.69,163.74,77.71,1228.39,0.0,0.0,...,0,247,247,240,38,2024-08-15 23:57:00,24,240,39.58,60.42
2,418720644,1119.62,1360.7,1270.02,1135.69,163.74,77.71,1228.38,0.0,0.0,...,0,248,248,239,38,2024-08-15 23:54:58,24,240,39.58,60.42
3,418720065,1119.62,1360.7,1270.01,1135.69,163.74,77.71,1228.37,0.0,0.0,...,0,248,248,239,38,2024-08-15 23:52:57,24,240,39.58,60.42
4,418719475,1119.62,1360.7,1270.01,1135.69,163.74,77.71,1228.36,0.0,0.0,...,0,248,247,238,38,2024-08-15 23:50:56,24,239,39.58,60.42

In [9]:
df2=df.drop(columns=['ID'],axis=1)

In [10]:
df2.head()

,HAone,HAtwo,HS,HL,HD,HUO,HUC,AC-1 Current,AC-2 Current,Lobby Current,...,DR,Raw Voltage,Earthing,UPS,Battery Voltage,Date Time,Average Temperature,ups_phase_to_earth_voltage,UPS Charging,UPS Discharging
0,1119.62,1360.7,1270.03,1135.69,163.74,77.71,1228.41,0.0,0.0,0,...,0,247,247,238,38,2024-08-15 23:59:01,24,239,39.58,60.42
1,1119.62,1360.7,1270.02,1135.69,163.74,77.71,1228.39,0.0,0.0,0,...,0,247,247,240,38,2024-08-15 23:57:00,24,240,39.58,60.42
2,1119.62,1360.7,1270.02,1135.69,163.74,77.71,1228.38,0.0,0.0,0,...,0,248,248,239,38,2024-08-15 23:54:58,24,240,39.58,60.42
3,1119.62,1360.7,1270.01,1135.69,163.74,77.71,1228.37,0.0,0.0,0,...,0,248,248,239,38,2024-08-15 23:52:57,24,240,39.58,60.42
4,1119.62,1360.7,1270.01,1135.69,163.74,77.71,1228.36,0.0,0.0,0,...,0,248,247,238,38,2024-08-15 23:50:56,24,239,39.58,60.42

In [13]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2147 entries, 0 to 2146
Data columns (total 28 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   HAone                       2147 non-null   float64
 1   HAtwo                       2147 non-null   float64
 2   HS                          2147 non-null   float64
 3   HL                          2147 non-null   float64
 4   HD                          2147 non-null   float64
 5   HUO                         2147 non-null   float64
 6   HUC                         2147 non-null   float64
 7   AC-1 Current                2147 non-null   float64
 8   AC-2 Current                2147 non-null   float64
 9   Lobby Current               2147 non-null   int64
 10  Signage                     2147 non-null   float64
 11  DVR                         2147 non-null   float64
 12  UPS Output                  2147 non-null   float64
 13  UPS Current                 2147 non-null   float64
 14  Temperature                 2147 non-null   int64
 15  Actual Temperature          2147 non-null   int64
 16  Humidity                    2147 non-null   float64
 17  PR                          2147 non-null   int64
 18  DR                          2147 non-null   int64
 19  Raw Voltage                 2147 non-null   int64
 20  Earthing                    2147 non-null   int64
 21  UPS                         2147 non-null   int64
 22  Battery Voltage             2147 non-null   int64
 23  Date Time                   2147 non-null   datetime64[ns]
 24  Average Temperature         2147 non-null   int64
 25  ups_phase_to_earth_voltage  2147 non-null   int64
 26  UPS Charging                2147 non-null   float64
 27  UPS Discharging             2147 non-null   float64
dtypes: datetime64[ns](1), float64(16), int64(11)
memory usage: 469.7 KB

In [15]:
df2['Hours']=df2['Date Time'].dt.hour

In [16]:
df2.head()

,HAone,HAtwo,HS,HL,HD,HUO,HUC,AC-1 Current,AC-2 Current,Lobby Current,...,Raw Voltage,Earthing,UPS,Battery Voltage,Date Time,Average Temperature,ups_phase_to_earth_voltage,UPS Charging,UPS Discharging,Hours
0,1119.62,1360.7,1270.03,1135.69,163.74,77.71,1228.41,0.0,0.0,0,...,247,247,238,38,2024-08-15 23:59:01,24,239,39.58,60.42,23
1,1119.62,1360.7,1270.02,1135.69,163.74,77.71,1228.39,0.0,0.0,0,...,247,247,240,38,2024-08-15 23:57:00,24,240,39.58,60.42,23
2,1119.62,1360.7,1270.02,1135.69,163.74,77.71,1228.38,0.0,0.0,0,...,248,248,239,38,2024-08-15 23:54:58,24,240,39.58,60.42,23
3,1119.62,1360.7,1270.01,1135.69,163.74,77.71,1228.37,0.0,0.0,0,...,248,248,239,38,2024-08-15 23:52:57,24,240,39.58,60.42,23
4,1119.62,1360.7,1270.01,1135.69,163.74,77.71,1228.36,0.0,0.0,0,...,248,247,238,38,2024-08-15 23:50:56,24,239,39.58,60.42,23

In [18]:
df2=df2.sort_values("Date Time")

In [19]:
df2.head()

,HAone,HAtwo,HS,HL,HD,HUO,HUC,AC-1 Current,AC-2 Current,Lobby Current,...,Raw Voltage,Earthing,UPS,Battery Voltage,Date Time,Average Temperature,ups_phase_to_earth_voltage,UPS Charging,UPS Discharging,Hours
2146,1090.28,1324.71,1264.49,1135.69,163.74,77.71,1200.99,0.0,0.0,0,...,247,246,238,38,2024-08-13 00:01:00,24,239,39.58,60.42,0
2145,1090.28,1324.71,1264.50,1135.69,163.74,77.71,1201.00,0.0,0.0,0,...,246,246,239,38,2024-08-13 00:02:58,24,240,39.58,60.42,0
2144,1090.28,1324.71,1264.50,1135.69,163.74,77.71,1201.01,0.0,0.0,0,...,247,246,238,38,2024-08-13 00:04:58,24,239,39.58,60.42,0
2143,1090.28,1324.71,1264.51,1135.69,163.74,77.71,1201.03,0.0,0.0,0,...,247,247,239,38,2024-08-13 00:06:57,24,240,39.58,60.42,0
2142,1090.28,1324.71,1264.51,1135.69,163.74,77.71,1201.04,0.0,0.0,0,...,247,246,238,38,2024-08-13 00:08:58,24,240,39.58,60.42,0

In [20]:
df2=df2.set_index('Date Time')

In [22]:
df2.head(15)

,HAone,HAtwo,HS,HL,HD,HUO,HUC,AC-1 Current,AC-2 Current,Lobby Current,...,DR,Raw Voltage,Earthing,UPS,Battery Voltage,Average Temperature,ups_phase_to_earth_voltage,UPS Charging,UPS Discharging,Hours
Date Time,,,,,,,,,,,,,,,,,,,,,
2024-08-13 00:01:00,1090.28,1324.71,1264.49,1135.69,163.74,77.71,1200.99,0.0,0.0,0,...,0,247,246,238,38,24,239,39.58,60.42,0
2024-08-13 00:02:58,1090.28,1324.71,1264.50,1135.69,163.74,77.71,1201.00,0.0,0.0,0,...,0,246,246,239,38,24,240,39.58,60.42,0
2024-08-13 00:04:58,1090.28,1324.71,1264.50,1135.69,163.74,77.71,1201.01,0.0,0.0,0,...,0,247,246,238,38,24,239,39.58,60.42,0
2024-08-13 00:06:57,1090.28,1324.71,1264.51,1135.69,163.74,77.71,1201.03,0.0,0.0,0,...,0,247,247,239,38,24,240,39.58,60.42,0
2024-08-13 00:08:58,1090.28,1324.71,1264.51,1135.69,163.74,77.71,1201.04,0.0,0.0,0,...,0,247,246,238,38,24,240,39.58,60.42,0
2024-08-13 00:10:58,1090.28,1324.71,1264.52,1135.69,163.74,77.71,1201.05,0.0,0.0,0,...,0,248,247,238,38,24,239,39.58,60.42,0
2024-08-13 00:12:57,1090.28,1324.71,1264.52,1135.69,163.74,77.71,1201.07,0.0,0.0,0,...,0,248,247,239,38,24,239,39.58,60.42,0
2024-08-13 00:14:57,1090.28,1324.71,1264.53,1135.69,163.74,77.71,1201.08,0.0,0.0,0,...,0,247,246,240,38,24,239,39.58,60.42,0
2024-08-13 00:16:58,1090.28,1324.71,1264.53,1135.69,163.74,77.71,1201.09,0.0,0.0,0,...,0,248,247,238,38,24,239,39.58,60.42,0
2024-08-13 00:19:00,1090.28,1324.71,1264.54,1135.69,163.74,77.71,1201.10,0.0,0.0,0,...,0,249,247,238,38,24,239,39.58,60.42,0
2024-08-13 00:20:59,1090.28,1324.71,1264.54,1135.69,163.74,77.71,1201.12,0.0,0.0,0,...,0,247,246,238,38,24,240,39.58,60.42,0
2024-08-13 00:23:00,1090.28,1324.71,1264.55,1135.69,163.74,77.71,1201.13,0.0,0.0,0,...,0,247,247,239,38,24,240,39.58,60.42,0
2024-08-13 00:24:59,1090.28,1324.71,1264.55,1135.69,163.74,77.71,1201.14,0.0,0.0,0,...,0,247,247,239,38,24,240,39.58,60.42,0
2024-08-13 00:26:59,1090.28,1324.71,1264.56,1135.69,163.74,77.71,1201.15,0.0,0.0,0,...,0,247,247,238,38,24,240,39.58,60.42,0
2024-08-13 00:28:59,1090.28,1324.71,1264.57,1135.69,163.74,77.71,1201.17,0.0,0.0,0,...,0,247,247,240,38,24,241,39.58,60.42,0

In [34]:
sum_cols=['HAone','HAtwo','HS','HL','HD','HUO','HUC','AC-1 Current','AC-2 Current','Lobby Current',
    'Signage','DVR','UPS Output','UPS Current',
    'UPS Charging','UPS Discharging']
mean_cols = [
    'Temperature','Actual Temperature','Average Temperature',
    'Humidity','Raw Voltage','Earthing',
    'UPS ','Battery Voltage','ups_phase_to_earth_voltage',
    'PR','DR'
]

agg_dict={col:'sum' for col in sum_cols}

In [35]:
agg_dict

{'HAone': 'sum',
 'HAtwo': 'sum',
 'HS': 'sum',
 'HL': 'sum',
 'HD': 'sum',
 'HUO': 'sum',
 'HUC': 'sum',
 'AC-1 Current': 'sum',
 'AC-2 Current': 'sum',
 'Lobby Current': 'sum',
 'Signage': 'sum',
 'DVR': 'sum',
 'UPS Output': 'sum',
 'UPS Current': 'sum',
 'UPS Charging': 'sum',
 'UPS Discharging': 'sum'}

In [37]:
agg_dict.update({col:'mean' for col in mean_cols})

In [38]:
agg_dict

{'HAone': 'sum',
 'HAtwo': 'sum',
 'HS': 'sum',
 'HL': 'sum',
 'HD': 'sum',
 'HUO': 'sum',
 'HUC': 'sum',
 'AC-1 Current': 'sum',
 'AC-2 Current': 'sum',
 'Lobby Current': 'sum',
 'Signage': 'sum',
 'DVR': 'sum',
 'UPS Output': 'sum',
 'UPS Current': 'sum',
 'UPS Charging': 'sum',
 'UPS Discharging': 'sum',
 'Temperature': 'mean',
 'Actual Temperature': 'mean',
 'Average Temperature': 'mean',
 'Humidity': 'mean',
 'Raw Voltage': 'mean',
 'Earthing': 'mean',
 'UPS ': 'mean',
 'Battery Voltage': 'mean',
 'ups_phase_to_earth_voltage': 'mean',
 'PR': 'mean',
 'DR': 'mean'}

In [39]:
daily_df=df2.resample("D").agg(agg_dict)
print(daily_df)

                  HAone      HAtwo         HS         HL         HD       HUO  \
Date Time
2024-08-13  782414.9573  950758.18  904773.43  812018.35  117074.10  55562.65
2024-08-14  791152.1204  960037.56  907359.71  813154.04  117237.84  55640.36
2024-08-15  797574.3706  969529.96  908682.59  813154.04  117237.84  55640.36

                  HUC  AC-1 Current  AC-2 Current  Lobby Current  ...  \
Date Time                                                         ...
2024-08-13  861978.49       1202.34       1265.25              0  ...
2024-08-14  869738.37       1214.34       1617.29              0  ...
2024-08-15  876273.59       1183.62       1548.91              0  ...

            Actual Temperature  Average Temperature   Humidity  Raw Voltage  \
Date Time
2024-08-13                24.0                 24.0  54.938769   244.563636
2024-08-14                24.0                 24.0  55.067304   244.393855
2024-08-15                24.0                 24.0  55.008972   242.796089

              Earthing        UPS   Battery Voltage  \
Date Time
2024-08-13  245.005594  238.836364             38.0
2024-08-14  244.994413  238.750000             38.0
2024-08-15  243.466480  238.786313             38.0

            ups_phase_to_earth_voltage   PR   DR
Date Time
2024-08-13                  240.479720  0.0  0.0
2024-08-14                  240.673184  0.0  0.0
2024-08-15                  240.610335  0.0  0.0

[3 rows x 27 columns]

In [40]:
import numpy as np

days = np.arange(1, len(daily_df)+1).reshape(-1, 1)

In [42]:
print(days)
daily_df

[[1]
 [2]
 [3]]

,HAone,HAtwo,HS,HL,HD,HUO,HUC,AC-1 Current,AC-2 Current,Lobby Current,...,Actual Temperature,Average Temperature,Humidity,Raw Voltage,Earthing,UPS,Battery Voltage,ups_phase_to_earth_voltage,PR,DR
Date Time,,,,,,,,,,,,,,,,,,,,,
2024-08-13,782414.9573,950758.18,904773.43,812018.35,117074.10,55562.65,861978.49,1202.34,1265.25,0,...,24.0,24.0,54.938769,244.563636,245.005594,238.836364,38.0,240.479720,0.0,0.0
2024-08-14,791152.1204,960037.56,907359.71,813154.04,117237.84,55640.36,869738.37,1214.34,1617.29,0,...,24.0,24.0,55.067304,244.393855,244.994413,238.750000,38.0,240.673184,0.0,0.0
2024-08-15,797574.3706,969529.96,908682.59,813154.04,117237.84,55640.36,876273.59,1183.62,1548.91,0,...,24.0,24.0,55.008972,242.796089,243.466480,238.786313,38.0,240.610335,0.0,0.0

In [43]:
from sklearn.linear_model import LinearRegression
day4_predictions={}

for col in daily_df.columns:
    y=daily_df[col].values

    model=LinearRegression()
    model.fit(days,y)

    day4_predictions[col]=model.predict([[len(days)+1]])[0]

day4_df=pd.DataFrame.from_dict(
    day4_predictions,orient='index',columns=['Day 4 Prediction']
)
day4_df

                            Day 4 Prediction
HAone                          805539.896067
HAtwo                          978880.346667
HS                             910847.736667
HL                             813911.166667
HD                             117347.000000
HUO                             55692.166667
HUC                            883625.250000
AC-1 Current                     1181.380000
AC-2 Current                     1760.810000
Lobby Current                       0.000000
Signage                           226.640000
DVR                                 0.013333
UPS Output                          0.100000
UPS Current                      1137.093333
UPS Charging                    28365.666667
UPS Discharging                 43301.000000
Temperature                        24.000000
Actual Temperature                 24.000000
Average Temperature                24.000000
Humidity                           55.075218
Raw Voltage                       242.150313
Earthing                          242.949715
UPS                               238.740841
Battery Voltage                    38.000000
ups_phase_to_earth_voltage        240.718362
PR                                  0.000000
DR                                  0.000000

In [44]:
future_preds={}

for col in daily_df.columns:
    y=daily_df[col].values

    model=LinearRegression()
    model.fit(days,y)


    preds=model.predict([[len(days)+2],[len(days)+3]])
    future_preds[col]=preds

    future_df = pd.DataFrame(
    future_preds,
    index=["Day 5 (Normal)", "Day 6 (Normal)"]
).T

future_df

                            Day 5 (Normal)  Day 6 (Normal)
HAone                        813119.602717   820699.309367
HAtwo                        988266.236667   997652.126667
HS                           912802.316667   914756.896667
HL                           814479.011667   815046.856667
HD                           117428.870000   117510.740000
HUO                           55731.021667    55769.876667
HUC                          890772.800000   897920.350000
AC-1 Current                   1172.020000     1162.660000
AC-2 Current                   1902.640000     2044.470000
Lobby Current                     0.000000        0.000000
Signage                         227.935000      229.230000
DVR                               0.013333        0.013333
UPS Output                        0.060000        0.020000
UPS Current                    1134.958333     1132.823333
UPS Charging                  28385.456667    28405.246667
UPS Discharging               43331.210000    43361.420000
Temperature                      24.000000       24.000000
Actual Temperature               24.000000       24.000000
Average Temperature              24.000000       24.000000
Humidity                         55.110320       55.145421
Raw Voltage                     241.266540      240.382766
Earthing                        242.180158      241.410602
UPS                             238.715816      238.690791
Battery Voltage                  38.000000       38.000000
ups_phase_to_earth_voltage      240.783669      240.848976
PR                                0.000000        0.000000
DR                                0.000000        0.000000

In [45]:
# Scneario prediction
# I have taken 2 scenarios where in the first there is a usage of upto 15% which is considered to be high and second of -10% which is low
scenario_df = future_df.copy()

scenario_df["Day 5 (High Load)"] = scenario_df["Day 5 (Normal)"] * 1.15
scenario_df["Day 6 (High Load)"] = scenario_df["Day 6 (Normal)"] * 1.15

scenario_df["Day 5 (Energy Saving)"] = scenario_df["Day 5 (Normal)"] * 0.90
scenario_df["Day 6 (Energy Saving)"] = scenario_df["Day 6 (Normal)"] * 0.90

scenario_df

,Day 5 (Normal),Day 6 (Normal),Day 5 (High Load),Day 6 (High Load),Day 5 (Energy Saving),Day 6 (Energy Saving)
HAone,813119.602717,820699.309367,9.350875e+05,9.438042e+05,731807.642445,738629.378430
HAtwo,988266.236667,997652.126667,1.136506e+06,1.147300e+06,889439.613000,897886.914000
HS,912802.316667,914756.896667,1.049723e+06,1.051970e+06,821522.085000,823281.207000
HL,814479.011667,815046.856667,9.366509e+05,9.373039e+05,733031.110500,733542.171000
HD,117428.870000,117510.740000,1.350432e+05,1.351374e+05,105685.983000,105759.666000
HUO,55731.021667,55769.876667,6.409067e+04,6.413536e+04,50157.919500,50192.889000
HUC,890772.800000,897920.350000,1.024389e+06,1.032608e+06,801695.520000,808128.315000
AC-1 Current,1172.020000,1162.660000,1.347823e+03,1.337059e+03,1054.818000,1046.394000
AC-2 Current,1902.640000,2044.470000,2.188036e+03,2.351140e+03,1712.376000,1840.023000
Lobby Current,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
Signage,227.935000,229.230000,2.621252e+02,2.636145e+02,205.141500,206.307000
DVR,0.013333,0.013333,1.533333e-02,1.533333e-02,0.012000,0.012000
UPS Output,0.060000,0.020000,6.900000e-02,2.300000e-02,0.054000,0.018000
UPS Current,1134.958333,1132.823333,1.305202e+03,1.302747e+03,1021.462500,1019.541000
UPS Charging,28385.456667,28405.246667,3.264328e+04,3.266603e+04,25546.911000,25564.722000
UPS Discharging,43331.210000,43361.420000,4.983089e+04,4.986563e+04,38998.089000,39025.278000
Temperature,24.000000,24.000000,2.760000e+01,2.760000e+01,21.600000,21.600000
Actual Temperature,24.000000,24.000000,2.760000e+01,2.760000e+01,21.600000,21.600000
Average Temperature,24.000000,24.000000,2.760000e+01,2.760000e+01,21.600000,21.600000
Humidity,55.110320,55.145421,6.337687e+01,6.341723e+01,49.599288,49.630879
Raw Voltage,241.266540,240.382766,2.774565e+02,2.764402e+02,217.139886,216.344490
Earthing,242.180158,241.410602,2.785072e+02,2.776222e+02,217.962143,217.269541
UPS,238.715816,238.690791,2.745232e+02,2.744944e+02,214.844234,214.821712
Battery Voltage,38.000000,38.000000,4.370000e+01,4.370000e+01,34.200000,34.200000
ups_phase_to_earth_voltage,240.783669,240.848976,2.769012e+02,2.769763e+02,216.705302,216.764079
PR,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000
DR,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000,0.000000

In [46]:
with pd.ExcelWriter("power_forecast_output.xlsx") as writer:
    daily_df.to_excel(writer, sheet_name="Daily_Aggregated_Data")
    day4_df.to_excel(writer, sheet_name="Day4_Prediction")
    scenario_df.to_excel(writer, sheet_name="Scenarios")

print("Forecast saved successfully")

Forecast saved successfully